@import "bulma/sass/base/_all.sass";
@import "bulma/sass/utilities/_all.sass";
/*@import "bulma/sass/utilities/controls.sass";
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/derived-variables.sass";*/
@import "bulma/sass/form/_all.sass";

body {
  background: #fff;
  padding: 1rem;
}

#splash {
  .splash-container {
    margin-top: 1rem;
    p {
      margin: 2rem 0;
    }
  }
}
